
.wp-admin {
	/**
	 * Options Page
	 */

	#rr-admin-options-form {
		input, select {
			margin: 5px;
		}
		input[type='checkbox'] {
			margin-right: 20px;
		}
	}


	/**
	 * Add/Edit Review Page
	 */
	.form_table {
		margin: 0 auto;

		.rr_form_heading {
			font-weight: 900;
		}
		.rr_required:after {
			content: " *";
			color: #ad3d3d;
		}
	}
}

.shop-app-init, .shop-app-info {
	// width: 90%;
	display:inline-block;
	margin: auto;
	padding: 21px 5%;
	text-align: center;
	display: none;

	&.active {
		display: block;
	}
	.label-container {
		margin-bottom: 8px;
		label {
			font-size: 21px;
		}
	}
	input[type="text"] {
		width: 80%;
	}
}

.shop-app-init {
	margin-bottom: 21px;
}

.options-section {
	margin-bottom: 21px;
	padding: 21px 5%;
	background: darken(#fff, 40%);
	border-radius: 13px;
}

.sa-short-info, .sa-long-info {
	ul {
		margin: 0 21px 34px 21px;
		li {
			&:before {
				content: "\25C9";
				font-size: 8px;
				margin-right: 5px;
			}
		}
	}
}

.sa-long-info {
	display: none;
	&.active {
		display: block;
	}
}

