// -----
// ----- Twitter bootstrap star icons
// -----
$icon-font-path: '../fonts/';
$icon-font-name: 'glyphicons-halflings-regular';
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('#{$icon-font-path}#{$icon-font-name}.eot');
  src: url('#{$icon-font-path}#{$icon-font-name}.eot?#iefix') format('embedded-opentype'),
       url('#{$icon-font-path}#{$icon-font-name}.woff') format('woff'),
       url('#{$icon-font-path}#{$icon-font-name}.ttf') format('truetype'),
       url('#{$icon-font-path}#{$icon-font-name}.svg#glyphicons-halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.glyphicon-star                   { &:before { content: "\e006"; } }
.glyphicon-star-empty             { &:before { content: "\e007"; } }

// -----
// ----- Begin Rich Review styles
// -----

// Variables
$input_width: 300px;
$star_color: blue;
$star_empty_color: black;

// Review submission form
.form-err {
	color: red;
	font-style: italic;
	font-size: 0.8em;
	line-height: 0.6em;
	a {
		color:red !important;
	}
}

.message {
	padding: 5px;
	margin: 5px 5px;
	background: silver;
	color: #049477;
	border-left: solid #049477 3px;
}
.succcessful {
	font-size: 1.3em;
	text-align: center;
	&.form-err {
		color: green;
	}
	.big-star {
		vertical-align: middle;
		margin: 8px;
	}
}
.left {
	float: left;
}
.right {
	float: right;
}

.rr_review_form {
	.form_table {
		.rr_form_row {
			vertical-align: top;
			.rr_form_heading {
				position: relative;
				text-align: right;
				padding-right: 15px;
				vertical-align: top;
			}
			.rr_required {
				&:after {
					content: "*";
					position: absolute;
					right: 5px;
				}
			}
			.rr_form_input {
				vertical-align: top;
				padding-bottom: 10px;
				.form-err {
					font-size: 0.6em;
				}
				input[type="text"] {
					width: $input_width;
					@media only screen and (max-width: 767px) { width: 0.5 * $input_width; }
				}
				textarea {
					width: $input_width;
					@media only screen and (max-width: 767px) { width: 0.5 * $input_width; }
				}
				input[type="submit"] {

				}
			}
		}
	}
}


//Review display

.testimonial_group {
	overflow: hidden;
	clear: both;
	.testimonial {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		width: 33.333%;
		padding: 8px 20px;
		@media only screen and (max-width: 767px) { width: 100%; min-width: 0;}
		.rr_title {
			margin: 5px;
		}
		.stars {

		}
		.date-err {
			color:red;
			font-style:italic;
			font-size:0.8em;
			line-height: 0.6em;
			a {
				color:red !important;
			}
		}
		.rr_date {
			font-size: 0.6em;
			font-style: italic;
		}
		.rr_review_text {
			position: relative;
			.drop_cap {
				position: absolute;
				font-size: 100px;
				top: -15px;
				left: -20px;
				line-height: 100px;
				zoom: 1;
				filter: alpha(opacity=25);
				opacity: 0.25;
			}
		}
		.rr_review_name {
			text-align: right;
			padding-right: 10%;
			font-style: italic;
			font-size: 0.8em;
		}

	}
	.full-testimonial {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		width: 100%;
		padding: 8px 0 8px 28px;
		@media only screen and (max-width: 767px) { width: 100%; min-width: 0;}
		.rr_title {
			margin: 0;
		}
		.stars {

		}
		.date-err {
			color:red;
			font-style:italic;
			font-size:0.8em;
			line-height: 0.6em;
			a {
				color:red !important;
			}
		}
		.rr_date {
			font-size: 0.6em;
			font-style: italic;
		}
		.rr_review_text {
			position: relative;
			.drop_cap {
				position: absolute;
				font-size: 100px;
				top: -13px;
				left: -20px;
				line-height: 100px;
				zoom: 1;
				filter: alpha(opacity=25);
				opacity: 0.25;
			}
		}
		.rr_review_name {
			text-align: right;
			padding-right: 10%;
			font-style: italic;
		}
	}
}

.credit-line {
	float: right;
	font-size: 10px;
}
.read_more, .show_less {
	font-size: 12px;
	font-style: itlaic;
}

.review-head {
	display: flex;
	flex-align: stretch;
	margin-bottom: 0px;
	.user-image {
		padding: 8px;
		width: 25%;

		position: relative;
		padding-left: 0;
		img {
			position: absolute;
			bottom: 0;
		}
	}
	.review-info {
		padding: 0;
	}
}

.rr_review_name {
	span {
		padding-top:8px;
		width:40px;
		.rr-avatar {
			height: 44px;
			width: 44px;
			&.sa-avatar {
				margin-bottom:8px;
			}
		}
	}
}

@import "rr-widgets";
