
.wp-admin {
	/**
	 * Options Page
	 */

	#rr-admin-options-form {
		input, select {
			margin: 5px;
		}
		input[type='checkbox'] {
			margin-right: 20px;
		}
	}


	/**
	 * Add/Edit Review Page
	 */
	.form_table {
		margin: 0 auto;

		.rr_form_heading {
			font-weight: 900;
		}
		.rr_required:after {
			content: " *";
			color: #ad3d3d;
		}
	}
}

.rr_shortcode_container {
	color: #000000;
	padding: 20px;
}
.rr_shortcode_name {
	font-weight: 900;
	font-size: 130%;
	padding-bottom: 2px;
}
.rr_shortcode_description {
	margin-left: 2%;
}
.rr_shortcode_option_container {
	margin-left: 3%;
	margin-top: 5px;
}
.rr_shortcode_option_name {
	font-size: 110%;
	font-style: italic;
	font-weight: 600;
}
.rr_shortcode_option_text {
	margin-left: 2%;
}
.rr_admin_sidebar {
	clear: right;
	float: right;
	width: 40%;
	min-width: 300px;
	background-color: #049477;
	color: #dadada;
	border-radius: 5px;
	padding: 10px;
	font-size: 90%;
	margin: 7px 14px;
}
.rr_admin_sidebar_title {
	font-size: 130%;
	font-weight: 900;
	margin-bottom: 4px;
	color: white;
}
.rr_admin_sidebar_text {
	margin-bottom: 4px;
}
ul.rr_admin_sidebar_list {
	padding: 0px 0px 0px 20px;
	margin: 0px;
	list-style-type: square;
	font-family: Consolas, Monaco, monospace;
}
li.rr_admin_sidebar_list_item {
	padding: 0px;
	margin: 0px;
}
table.rr_admin_review_table {
	width: 90%;
	min-width: 700px;
	background-color: #e4e4e4;
	border-radius: 7px;
}
tr.rr_admin_review_container {
	background-color: #f1f1f1;
}

td.rr_admin_review_actions_container {
	width: 13%;
	max-width: 91px;
	font-size: 80%;
	vertical-align: text-top;
}
td.rr_admin_review_info_container {
	width: 25%;
	vertical-align: text-top;
	padding: 0px;
}
td.rr_admin_review_content_container {
	width: 60%;
	vertical-align: text-top;
	padding: 0px;
}
.rr_admin_review_stars {
	color: #ffaf00;
}



// Version 1.1
$teal: #06C69F;
$dark-teal: #049477;

$tab-color-bg: #fff;
$tab-color-bg-hover: $dark-teal; //#049477;
$tab-color-bg-active: $teal;
$tab-color-text: #000;
$tab-color-text-hover: #fff;
$tab-color-text-active: #000;


// ----- Layout and structure
.tabs-container {
	overflow: hidden;
	.tab {
		float: left;
		a {
			display: block;
		}
	}
}


// ----- Colors
.tabs-container {
	.tab {
		a {
			background: $tab-color-bg;
			color: $tab-color-text;
			&:hover {
				background: $tab-color-bg-hover;
				color: $tab-color-text-hover;
			}
		}
		&.active {
			a {
				background: $tab-color-bg-active;
				color: $tab-color-text-active;
				font-weight: 900;
			}
		}
	}
}


// ----- Lengths (paddings, margins, etc)
.tabs-container {
	.tab {
		a {
			padding: 10px 15px;
		}
	}
}


// ----- Typography (font sizes, text styles, etc)
.tabs-container {
	.tab {
		a {
			text-decoration: none;
		}
	}
}



// misc
.nm-postbox-container {
	.postbox {
		h3 {
			cursor: pointer !important;
		}
	}
}

.nm-admin-page {
	* {
		box-sizing: border-box;
	}
	.content-container,
	.sidebar-container {
		padding: 20px;
		float: left;
		overflow: hidden;
	}

	.content-container {
		width: 70%;
		padding-left: 0;
	}
	.sidebar-container {
		width: 30%;
	}
	.hndle {
		background: #06c69f;
	}
	.handlediv {
		color: #000;
	}
}

.nm-support-staff-submit {
	margin-top: 10px !important;
	margin-left: 5% !important;
}
.nm-support-staff-checkbox {
	float: left;
	width: 5%;
}
.nm-support-staff-label {
	float: left;
	width: 95%;
}

.nm-social-media-links-container {
	padding: 10px 20px;
}

.nm-logo {
	img {
		width: 100%;
	}
}


.one-half {
	width: 50%;
	float: left;
}

.one-fourth {
	width: 25%;
	float:left;
}

.three-fourths {
	width: 75%;
	float: left;
}
